html {
    background-color: #FAF9F6;
}

body {
    max-width: 64rem;
    margin: 0 auto;
    padding: 1rem;
}

summary {
    list-style: none;
}

.summary-date {
    padding-right: 2rem;
}

details {
    cursor: pointer;
}
